.btn {
  background-color: #7bcabf;
  font-family: "Coustard";
  padding: 7px 14px 5px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  border-radius: 2px;
  padding: 7px 14px 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #43a1a2;
  border-color: #43a1a2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-width: 1px;
}

.btn:focus {
  background-color: #43a1a2;
  border-color: #43a1a2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

