{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <h2>
        {{  title  }}
    </h2>
    <p>
Some XCMS modules have been installed: 
    </p>
</p>
Xowl, to automatically enhance your content providing images or links; Xlyre to publish linked open data; Xfind, to index and retrieve information, Xhawk to check content integrity, Xbuk to generate APPS with a visual editor, etc ...
    </p>


    <div class="buttons-bottom">
        <a class="launch_ximdex action_launcher" href="{{ nextStepLink.href }}" class="btn btn-default" alt="Start Installation" title="Start Installation">
            Next: {{  nextStepLink.label }}
            &nbsp;
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>

{% endblock %}
